customCommands:
  - key: 'O'
    context: 'commits'
    command: 'git submitpr "{{.SelectedLocalCommit.Sha}}"'
    description: 'submit new pr'
    prompts:
      - type: 'confirm'
        title: 'Submit new PR'
        body: 'Run git submitpr {{.SelectedLocalCommit.Sha}}?'
    output: terminal
  - key: 'U'
    context: 'commits'
    command: 'git updatepr "{{.SelectedLocalCommit.Sha}}" --squash'
    description: 'squash existing PR with new commit'
    prompts:
      - type: 'confirm'
        title: 'Squash PR'
        body: 'Run git updatepr {{.SelectedLocalCommit.Sha}} --squash?'
    output: terminal
  - key: 'Y'
    context: 'commits'
    command: 'git updatepr "{{.SelectedLocalCommit.Sha}}"'
    description: 'add new commit to existing PR'
    prompts:
      - type: 'confirm'
        title: 'Add commit to PR'
        body: 'Run git updatepr {{.SelectedLocalCommit.Sha}}?'
    output: terminal
  - key: 'I'
    context: 'commits'
    command: 'git rebasepr "{{.SelectedLocalCommit.Sha}}"'
    description: 'rebase PR'
    prompts:
      - type: 'confirm'
        title: 'Rebase PR'
        body: 'Run git rebasepr {{.SelectedLocalCommit.Sha}}?'
    output: terminal
